@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Quicksand:wght@300..700&display=swap');
@import "tailwindcss";
@config "../tailwind.config.ts";

body {
    font-family: "Quicksand", sans-serif;
}